<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles i18n %}
{% block title %}
Gallery
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static "css/imageHovering.css" %}">
<div class="container">
    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/Bali-347.jpg" %}">
        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Bali" %} </h2>
                <p>{% trans "Indonesia" %} </p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/_1110064.jpg" %}">
        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Bangkok" %} </h2>
                <p>{% trans "Thailand" %} </p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/_1100466.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Phuket" %}</h2>
                <p> {% trans "Thailand" %}</p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/SAM_0251.JPG" %}">
        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Kyaiktiyo" %} </h2>
                <p> {% trans "Myanmar" %}</p>
            </div>
        </div>
    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/20023915_1490342324395939_1660935208784337236_o copy.jpg" %}">
        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Vientiane" %} </h2>
                <p>{% trans "Laos" %} </p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/17855021_1382926595137513_1663737084965947065_o.jpg" %}">
        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Champassak" %} </h2>
                <p>{% trans "Laos" %} </p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/18815208_1441049655991873_8246513808846685157_o.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Singapore" %}</h2>
                <p> {% trans "Singapore" %}</p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">

        <div class="imgBox">
            <img src="{%  static "images/_1110213.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Hakone" %}</h2>
                <p> {% trans "Japan" %} </p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">

        <div class="imgBox">
            <img src="{%  static "images/16819122_1339520252811481_7466376956272334967_o copy.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Niseko" %}</h2>
                <p> {% trans "Japan" %} </p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">

        <div class="imgBox">
            <img src="{%  static "images/27503222_1688358344594335_471863090762501822_o.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Seoul" %}</h2>
                <p> {% trans "South Korea" %} </p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/20160226_161252.jpg" %}">
        </div>
        <div class="details">
            <div class="content" >
                <h2>
                    {% trans "Zurich" %}</h2>
                <p>
                    {% trans "Switzerland" %}</p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/23593778_1609030072527163_8851800745226686423_o.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Canadian Rockies" %}</h2>
                <p> {% trans "Canada" %}</p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/_1120016.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Vancouver" %}</h2>
                <p> {% trans "Canada" %}</p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/_1130056.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Montreal" %}</h2>
                <p> {% trans "Canada" %} </p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/26172729_1656255991137904_2143363601470952141_o.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Chicago" %}</h2>
                <p> {% trans "United States of America" %}</p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/49857707_2122176004545898_6463295038762778624_o.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "New York" %}</h2>
                <p> {% trans "United States of America" %}</p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/28070742_1709385619158274_677049013787069174_o.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Los Angeles" %}</h2>
                <p> {% trans "United States of America" %}</p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/_1110918.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Seattle" %}</h2>
                <p> {% trans "United States of America" %}</p>
            </div>
        </div>

    </div>

    <div onclick="" class="box">
        <div class="imgBox">
            <img src="{%  static "images/_1130366.jpg" %}">

        </div>
        <div class="details">
            <div class="content" >
                <h2> {% trans "Washington DC" %}</h2>
                <p> {% trans "United States of America" %}</p>
            </div>
        </div>

    </div>

</div>

{% endblock %}