header {
    height: 50px;
}


body {
    background-color: whitesmoke;
    letter-spacing: .1em;
    font-family: 'Assistant', sans-serif;
}

.bigContainer {
    color: whitesmoke;
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 500px;
    background-color: #939393;
    overflow: hidden;

}


.bigContainer .menu {
    margin-top: 5%;
    position: relative;
    width: 17%;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 30px;
    border-right: whitesmoke solid 4px;
    animation: fadeIn 3s;

}

.bigContainer .menu a {
    text-decoration: none;
    color: #f0f0f0;
}


.bigContainer .content {
    margin-top: 4%;
    margin-left: 23%;
    margin-right: 10%;
    color: #f0f0f0;
    width: 70%;
    animation: fadeIn 3s;

}

.bigContainer .content h3{
    margin-top: 30px;
}

.bigContainer .content h1{
    font-style: oblique;
}




@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

footer {
    height: 50px;
}

.footerContainer {
    margin-top: 0;
    text-align: center;
}






