.languageChooser {
    color: #333333;
    position: absolute;
    top: 0;
    right: 0.5%;
    border: 0;
}

.languageChooser h4{
    display: inline-block;
    font-family: monospace;
    color: #dcdcdc;
}

.languageChooser a{
    display: inline-block;
    text-decoration-line: none;
    font-family: monospace;
    color: #dcdcdc;
}

.languageChooser a:hover{
    cursor: pointer;
}